body {
    margin: 0;
    padding: 0;
    background-color: #121214;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.cadastro-container {
    background-color: #1e1e23;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

h2 {
    color: #633BBC;
    margin-bottom: 20px; /* Adicionando um espaço entre o título e os campos de entrada */
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    width: 100%; /* Garante que a largura dos elementos internos seja 100% */
}

label {
    text-align: left; /* Alinha o texto dos rótulos à esquerda */
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #7C7C8A;
    border-radius: 5px;
    background-color: #7C7C8A;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #ffffff;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #996DFF;
    box-shadow: 0 0 10px #996DFF;
}

button {
    background-color: #633BBC;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; /* Garante que o botão ocupe toda a largura disponível */
}

button:hover {
    background-color: #4f2a70;
}

a {
    color: #633BBC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
